<div style="text-align: center; padding: 20px 0px 40px 0px;">
	<img ng-src="{{info.image}}" style="width: 100%; max-width: 860px;">
	<h1 style="margin-bottom: 10px">{{info.title}}</h1>
	<ul style="list-style:none; padding-left: 0px">
		<li ng-repeat="tag in info.tags" class="tag">{{tag}}</li>
	</ul>
	<p class="projectInfo"><b>Objective:</b> {{info.objective}}</p>
	<p class="projectInfo"><b>Description:</b> {{info.description}}</p>
	<div ng-if="info.link !== 'None'" class="btnLink">
		<a href="{{info.link}}" target="_blank"><img src="img/website.png"/>View Project</a>
	</div>
	<div ng-if="info.github !== 'None'" class="btnLink">
		<a href="{{info.github}}" target="_blank"><img src="img/github.png"/>View Github</a>
	</div>
</div>